###
# Unity folders and files
###
SAEquipHDRP/[Aa]ssets/AssetStoreTools*
SAEquipHDRP/[Aa]ssets/ExampleAssets*
SAEquipHDRP/[Aa]ssets/Oculus*
SAEquipHDRP/[Aa]ssets/SampleScenes*
SAEquipHDRP/[Aa]ssets/Standard Assets*
SAEquipHDRP/[Bb]uild/
SAEquipHDRP/[Ll]ibrary/
SAEquipHDRP/[Ll]ocal[Cc]ache/
SAEquipHDRP/[Oo]bj/
SAEquipHDRP/[Tt]emp/
SAEquipHDRP/[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
